[submodule "token/lib/openzeppelin-contracts"]
	path = token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "meu_primeiro_token/lib/forge-std"]
	path = meu_primeiro_token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
