[submodule "token/lib/openzeppelin-contracts"]
	path = token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "aula-04/bank-token/lib/forge-std"]
	path = aula-04/bank-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "aula-04/bank-token/lib/openzeppelin-contracts"]
	path = aula-04/bank-token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "bank-token/lib/forge-std"]
	path = bank-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "bank-token/lib/openzeppelin-contracts"]
	path = bank-token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
